<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841255684556-qjo6v5gp0gmiq3mmbl5do8m4jhltpjvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841255684556-qjo6v5gp0gmiq3mmbl5do8m4jhltpjvv</string>
	<key>API_KEY</key>
	<string>AIzaSyBdU68m4FblZXbROUu5ML6e6Je8J921EmE</string>
	<key>GCM_SENDER_ID</key>
	<string>841255684556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>add-fbtoflutter2-410aa</string>
	<key>STORAGE_BUCKET</key>
	<string>add-fbtoflutter2-410aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841255684556:ios:e691a090e916ca13fd7569</string>
</dict>
</plist>